@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');

/* All-in-one CSS */

:root{
    /* Betűstílusok */
    --ff: 'Poppins', sans-serif;
    --ff-light: 200;
    --ff-normal: 400;
    --ff-bold: 600;

    /* Betűméretek */
    --fs-400: 0.9275rem;
    --fs-500: 1.25rem;
    --fs-550: 1.325rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    /* Színek */
    --clr-neutral-900: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    --clr-teal: hsl(180, 58%, 56%);
    --clr-red: hsl(0, 70%, 60%);
    --clr-blue: hsl(212, 75%, 62%);
    --clr-yellow: hsl(34, 89%, 65%);
    --clr-purple: hsl(249, 56%, 56%);
    --clr-blackish: hsl(219, 28%, 12%);
    --clr-grayish: hsl(220, 27%, 15%);


    /* Méretek */
    --mx-width: 800px;
}

/* index.html Content */

/* Alapok */

*,
*::before,
*::after{
    box-sizing: border-box;
    user-select: none;
}

html {
    font-family: var(--ff);
    font-weight: var(--ff-normal);
    color: var(--clr-neutral-900);
}

body{
    margin: 0;
    padding: 0;
    background: var(--clr-neutral-100);
    line-height: 1.1;
    overflow-x: hidden;
}

/* Navigációs Sáv */

.wrapper{
    --ml-1: 1rem;

    border-bottom: 1px solid var(--clr-neutral-900);
    padding-inline: 0;
    padding-block: 1.3rem;
    max-width: var(--mx-width);
    margin-inline: auto;
    margin-block: 0;
    display: flex;
    gap: 2rem;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

.wrapper a{
    margin-left: var(--ml-1);
    font-size: var(--fs-400);
    color: var(--clr-neutral-900);
    text-decoration: none;
    transition: 0.2s ease-in;
}

.wrapper a:hover{
    color: var(--clr-teal);
    transition: 0.2s ease-out;
}

.wrapper > img{
    max-width: 1.5rem;
    margin-left: auto;
    margin-right: var(--ml-1);
}

@media (max-width: 450px) {
    .wrapper {
        justify-content: center;
    }

    .wrapper a {
        margin-left: 0;
    }

    .wrapper > img {
        display: none;
    }
}

/* Main Rész */

main{
    margin-inline: auto;
    max-width: var(--mx-width);
}

.main-title{
    text-align: center;
    margin: auto auto 3rem auto;
    font-size: var(--fs-550);
    color: var(--clr-neutral-900);
}

.main-title > h1{
    margin-bottom: 1rem;
}

.main-title > p{
    margin-top: 0;
    font-weight: var(--ff-light);
    color: var(--clr-neutral-900);
    font-size: var(--fs-400);
}

.img-container{
    background: url('../assets/images/image-cont.jpg') center/cover no-repeat;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.5s ease-in-out;
}

.left-arrow, .right-arrow{
    margin-inline: 1rem;
}

/* Kártyák feletti cím */

.main-page-title {
    max-width: 20rem;
    margin-inline: auto;
    margin-top: 4rem;
    font-size: var(--fs-400);
    color: var(--clr-neutral-900);
    text-align: center;
}

.main-page-title h2{
    
    font-weight: var(--ff-light);
}

.main-page-title span{
    font-weight: var(--ff-bold);
}

/* Kártyák */

.cards{
    margin-block: 4rem;
    display: grid;
    gap: 2rem;
}

.cards > * {
    flex: 1;
}

@media (min-width: 800px) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.col{
    display: grid;
    align-content: center;
    gap: 2rem;
}

.card {
    --br: 0.5rem;

    padding: 1.5rem;
    border-top: var(--br) solid;
    border-radius: var(--br);
    box-shadow: 0 1rem 1.5rem -.5rem rgb(0 50 100 / 0.2);
}

.card h2{
    font-size: var(--fs-500);
    margin-top: 0.25rem;
}

.card p{
    font-size: var(--fs-400);
    color: var(--clr-neutral-400);
}

.card > img{
    display: block;
    max-width: 2.3rem;
    margin-top: 1rem;
    margin-left: auto;
}

@media (max-width: 800px) {
    .card {
        margin-inline: 2rem;
    }
}

.card-first{
    border-color: var(--clr-blue);
}

.card-second {
    border-color: var(--clr-red);
}

.card-third {
    border-color: var(--clr-yellow);
}

.card-fourth {
    border-color: var(--clr-teal);
}

/* Review-ok */

.reviews-title {
    text-align: center;
    margin-top: 4rem;
}

.reviews-title h3{
    font-size: var(--fs-600);
    color: var(--clr-neutral-900);
}

.reviews-scrollmenu{
    margin-block: 4rem;
    margin-inline: 0.75rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    .reviews{
        flex: 0 0 auto;
    }
}

.reviews-scrollmenu {
    &::-webkit-scrollbar {
    display: none;
    }
}

.reviews{
    margin-inline: 0.6rem;
}

.forward-icon > img{
    max-width: 2.5rem;
    cursor: pointer;
}

.backwards-icon > img{
    max-width: 2.5rem;
    cursor: pointer;
}

.review {
    margin-inline: auto;
    padding: 1rem;
    max-width: 335px;
    min-height: 230px;
    background: var(--clr-neutral-400);
    color: black;
}

.name-w-pic {
    display: flex;
}

.name-w-pic > img {
    max-width: 3rem;
    max-height: 3rem;
    margin: 0.25rem;
    border-radius: 50%;
    background: var(--clr-neutral-100);
}

.review-cont > h4{
    margin: 0.9rem 0 0.1rem 0;
    font-size: var(--fs-400);
}

.review-cont{
    display: flex;
    flex-direction: column;
}

.stars{
    display: flex;
    gap: 0.1rem;
}

.star > img{
    max-width: 1rem;
    max-height: 1rem;
}

/* Footer rész */

footer{
    max-width: var(--mx-width);
    margin-inline: auto;
    background: var(--clr-grayish);
    color: var(--clr-neutral-100);
}

.footer-title {
    display: flex;
    justify-content: space-between;
    background: var(--clr-purple);
    padding-block: 1rem;
    padding-left: 1rem;
}

.footer-title h4{
    font-size: var(--fs-400);
    text-align: justify;
    margin: 0;
}

.footers {
    display: flex;
    justify-content: space-around;
}

.footer{
    max-width: 300px;
    margin: 0 0 2rem 0;
    flex: 1;
}

.footer h4{
    margin: 1rem 0 0.25rem 1rem;
    color: var(--clr-neutral-100);
}

.footer p {
    margin: 1rem 0 0 1rem;
    color: var(--clr-neutral-100);
}

.footer hr{
    max-width: 4rem;
    margin: 0 0 0 1rem;
}

.footer2 {
    max-width: 300px;
    margin: 0 0 2rem 0;
    flex: 1;
}

.footer2 h4{
    margin: 1rem 0 0.25rem 1rem;
    color: var(--clr-neutral-100);
}

.footer2 p {
    margin: 1rem 0 0 1rem;
    color: var(--clr-neutral-100);
}

.footer2 hr{
    max-width: 4rem;
    margin: 0 0 0 1rem;
}

.footer-bottom {
    padding: 0.5rem 0 0.5rem 0;
    background: var(--clr-blackish);
    text-align: center;
}

.footer-bottom > p {
    margin: 0;
}

.social-media-icons{
    white-space: none;
    margin-right: 1rem;
}

.social-media-icons i{
    color: var(--clr-neutral-100);
    margin-inline: 0.5rem;
}

.social-media-icons i:hover{
    color: var(--clr-blue);
}

@media screen and (max-width: 600px) {
    .footers{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-title {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .footer2, .footer2 h4, .footer2 p, .footer2 hr{
        margin-left: 0;
    }
    .social-media-icons {
        margin: 1.5rem 0 0 0;
    }
}

/* ---------- About.html content ----------- */

.aboutpage-main-title{
    text-align: center;
    margin-inline: auto;
    margin-block: 2rem;
}

.aboutpage-main-title h1{
    font-size: var(--fs-600);
    color: var(--clr-neutral-900);
    margin-block: 0.5rem;
}

.aboutpage-main-title p{
    font-size: var(--fs-400);
    margin-block: 0.5rem;
}

.aboutpage-main-page{
    display: grid;
    gap: 1.5rem;
}

.us-col{
    border-top: 0.5rem solid var(--clr-teal);
    border-radius: 0.5rem;
    box-shadow: 0 1rem 1.5rem -.5rem rgb(0 50 100 / 0.2);
    padding: 1rem;
    margin-block: 3rem;
}

.us-col:first-child{
    border-color: var(--clr-blue);
}

.us-col:last-child{
    border-color: var(--clr-red);
}

.us-col h2{
    font-size: var(--fs-500);
    font-weight: var(--ff-bold);
    color: var(--clr-neutral-900);
}

.us-col p{
    font-size: var(--fs-400);
    color: var(--clr-neutral-400);
}

@media (min-width: 800px) {
    .aboutpage-main-page{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .us-col{
        margin: 0 1rem 0 1rem;
    }
    .aboutpage-main-page{
        margin-block: 2rem;
    }
}

.little-game-title{
    text-align: center;
    margin-bottom: 2rem;
}

.little-game-title h2{
    font-size: var(--fs-550);
    color: var(--clr-neutral-900);
}

.game-square{
    position: relative;
    max-width: 500px;
    height: 500px;
    margin-inline: auto;
    margin-block: 3rem;
    border: 1px solid black;
}

.game-square p{
    text-align: center;
}

.ball{
    background: var(--clr-red);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
}

.google-maps-title{
    margin-inline: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.google-maps-title h2{
    font-size: var(--fs-550);
    color: var(--clr-neutral-900);
}

.google-maps{
    display: block;
    margin-inline: auto;
    margin-bottom: 3.5rem;
    max-width: 600px;
}

@media screen and (max-width: 700px) {
    .google-maps{
        max-width: 300px;
    }
}

/* Blog.html */

.blog-cards{
    display: grid;
    gap: 2rem;
    margin-bottom: 3rem;
}

.blog-card{
    min-width: 500px;
    max-width: 500px;
    min-height: 350px;
    margin-inline: auto;
    box-shadow: 0 1rem 1.5rem -.5rem rgb(0 50 100 / 0.2);
    padding: 2rem;
    border-top: 0.5rem solid;
    border-color: var(--clr-red);
    border-radius: 0.5rem;
}

.blog-card:first-child{
    border-color: var(--clr-teal);
}

.blog-card:last-child{
    border-color: var(--clr-yellow);
}

.blog-card h2{
    margin-block: 0.5rem;
}

.blog-card p{
    font-size: var(--fs-400);
    margin: 0 0 2rem 0;
}

.blog-card img{
    display: block;
    margin-inline: auto;
    max-width: 200px;
    max-height: 200px;
}

.blog-card a{
    display: block;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    font-size: var(--fs-400);
    color: var(--clr-neutral-900);
    padding: 0.75rem;
    margin-top: 2rem;
    border: 1px solid var(--clr-neutral-900);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.blog-card a:hover{
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    transition: 0.3s ease-in-out;
}

@media (max-width: 550px) {
    .blog-card{
        margin-inline: 1rem;
        min-width: 0;
    }
}